<ion-header>

    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>POI Report</ion-title>
    </ion-navbar>
    <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
        <ion-label style="margin-top: 15px;">Select POI</ion-label>
        <select-searchable item-content [(ngModel)]="selectedPOI" [items]="poilist" itemValueField="poiname"
            itemTextField="poiname" [canSearch]="true" (onChange)="getpoiid(selectedPOI)">
        </select-searchable>
    </ion-item>
    <ion-item style="background-color: #fafafa;" *ngIf="portstemp.length != 0">
        <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
        <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name"
            itemTextField="Device_Name" [canSearch]="true" (onChange)="getvehicleid(selectedVehicle)">
        </select-searchable>
    </ion-item>
    <ion-row padding-left padding-right style="background-color: #fafafa;">
        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">From Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
            </ion-label>
        </ion-col>

        <ion-col width-20>
            <ion-label>
                <span style="font-size: 13px">To Date</span>
                <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a"
                    [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
                    style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
            </ion-label>
        </ion-col>
        <ion-col width-20>
            <div style="margin-top: 9px; float: right">
                <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;"
                    (click)="getTripReport(datetimeStart,datetimeEnd);"></ion-icon>
            </div>
        </ion-col>
    </ion-row>
</ion-header>


<ion-content>
    <!-- <ion-card *ngFor="let tripdata of TripReportData" style="border-radius: 5px;">
        <ion-item (tap)="tripReview(tripdata)">
            <ion-thumbnail item-end>
                <img src="assets/imgs/5Jzwb.png">
            </ion-thumbnail>

            <div class="overme">
                <span>
                    <ion-icon name="pin" color="secondary" style="font-size: 25px;"></ion-icon>
                </span> {{tripdata.startAddress}}
            </div>

            <br />
            <div class="overme">
                <span>
                    <ion-icon name="pin" color="danger" style="font-size: 25px;"></ion-icon>
                </span>
                {{tripdata.endAddress}}
            </div>
            <div class="divS" *ngIf="tripdata.distance">
                <span>DISTNACE </span> {{tripdata.distance | number : '1.0-2'}}KM &nbsp;&nbsp;
                <span>DURATION </span> {{tripdata.duration}}
            </div>
            <div class="divS" *ngIf="!tripdata.distance">
                <span>DISTNACE </span> 0KM
            </div>
        </ion-item>
        <ion-row style="background-color:#f2f2f2; padding-top:5px; padding-bottom: 5px" padding-left padding-right>
            <p style="font-size:0.85em; color:gray; font-weight: bold">{{tripdata.Startdate}}</p>
        </ion-row>

    </ion-card> -->
</ion-content>