<ion-header>

  <ion-navbar>
    <ion-title>Upload Document</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
        <ion-icon name="close-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-row>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'RC' && !rcPresent)}" style="padding: 5px;"
            (click)="firstFunc('RC')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">RC</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!rcPresent" name="cloud-upload" color="gpsc" style="font-size: 4em"></ion-icon>
                      <ion-icon *ngIf="rcPresent" name="cloud-done" color="secondary" style="font-size: 4em"></ion-icon>
                      <!-- <img src="assets/imgs/right-image-png-4.png" height="50" width="50" style="margin-top: 8px;" /> -->
                      <!-- <img src="assets/imgs/New Project.png" height="50" width="50" style="margin-top: 8px;" /> -->
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Insurance' && !insurencePresent)}" style="padding: 5px;"
            (click)="firstFunc('Insurance')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Insurance</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!insurencePresent" name="cloud-upload" color="gpsc" style="font-size: 4em">
                      </ion-icon>
                      <ion-icon *ngIf="insurencePresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                      <!-- <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
                        style="opacity: 0.5; margin-top: 8px;" /> -->
                      <!-- <img src="assets/imgs/New Project.png" height="50" width="50" style="margin-top: 8px;" /> -->
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'Licence' && !licencePresent)}" style="padding: 5px;"
            (click)="firstFunc('Licence')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">Licence</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!licencePresent" name="cloud-upload" color="gpsc" style="font-size: 4em">
                      </ion-icon>
                      <ion-icon *ngIf="licencePresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                      <!-- <img src="assets/imgs/right-image-png-4.png" height="20" width="20"
                        style="opacity: 0.5; margin-top: 8px;" /> -->
                      <!-- <img src="assets/imgs/New Project.png" height="50" width="50" style="margin-top: 8px;" /> -->
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
          <ion-col col-6 [ngClass]="{largeWidth: (myVar == 'PUC' && !licencePresent)}" style="padding: 5px;"
            (click)="firstFunc('PUC')" tappable>
            <div style="border: 5px solid #f2f2f2;">
              <ion-row>
                <ion-col>
                  <ion-row>
                    <ion-col class="docCol">PUC</ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col style="text-align: center;">
                      <ion-icon *ngIf="!pucPresent" name="cloud-upload" color="gpsc" style="font-size: 4em"></ion-icon>
                      <ion-icon *ngIf="pucPresent" name="cloud-done" color="secondary" style="font-size: 4em">
                      </ion-icon>
                      <!-- <img src="assets/imgs/right-image-png-4.png" height="50" width="50" style="margin-top: 8px;" /> -->
                      <!-- <img src="assets/imgs/New Project.png" height="50" width="50" style="margin-top: 8px;" /> -->
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form #docForm="ngForm" *ngIf="docString != undefined" padding>
    <ion-item>
      <ion-label floating>{{docString}} Number </ion-label>
      <ion-input type="text" [(ngModel)]="docname" name="docname"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Doc Expiry Date </ion-label>
      <ion-input type="text" onfocus="(this.type='date')" onfocusout="(this.type='text')" [(ngModel)]="docexp_date"
        name="docexp_date">
      </ion-input>
    </ion-item>
    <button ion-button block color="gpsc" [disabled]="(docname == undefined) || (docexp_date == undefined)"
      (click)="presentActionSheet()">
      Select Document
    </button>
    <ion-row *ngIf="lastImage !== null">
      <ion-col>
        Selected {{docString}} Doc <span style="color: blue;">{{lastImage}}</span>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="lastImage !== null">
      <ion-col>
        <button ion-button block (click)="uploadImage()">Upload Doc</button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>