<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>SOS Report</ion-title>
  </ion-navbar>
  <ion-item style="background-color: #fafafa;">
    <ion-label style="margin-top: 15px;">Select Vehicle</ion-label>
    <select-searchable item-content [(ngModel)]="selectedVehicle" [items]="portstemp" itemValueField="Device_Name" itemTextField="Device_Name"
      [canSearch]="true" (onChange)="getSOS(datetimeStart, datetimeEnd, selectedVehicle)">
    </select-searchable>
  </ion-item>


  <ion-row style="background-color: #fafafa;" padding-left padding-right>
    <ion-col width-20>

      <ion-label>
        <span style="font-size: 13px">From Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeStart" (ionChange)="change(datetimeStart)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #2ec95c;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <ion-label>
        <span style="font-size: 13px">To Date</span>
        <ion-datetime displayFormat="DD-MM-YYYY hh:mm a" pickerFormat="DD/MM/YY hh:mm a" [(ngModel)]="datetimeEnd" (ionChange)="change1(datetimeEnd)"
          style="padding: 7px 2px 0px 0px;font-size:11px;color: #dc0f0f;"></ion-datetime>
      </ion-label>
    </ion-col>

    <ion-col width-20>
      <div style="margin-top: 9px; float: right">
        <ion-icon ios="ios-search" md="md-search" style="font-size:2.3em;" (click)="getSOSReport();"></ion-icon>
      </div>
    </ion-col>
  </ion-row>
</ion-header>


<ion-content>
  <ion-card *ngFor="let s of sosData">

    <ion-item style="border-bottom: 2px solid #dedede;">
      <ion-avatar item-start>
        <img src="assets/imgs/car_green_icon.png" *ngIf="(s.device.iconType == 'car')">
        <img src="assets/imgs/truck_icon_green.png" *ngIf="(s.device.iconType == 'truck')">
        <img src="assets/imgs/bus_green.png" *ngIf="(s.device.iconType == 'bus')">
        <img src="assets/imgs/bike_green_icon.png" *ngIf="(s.device.iconType == 'bike')">
      </ion-avatar>
      <ion-row>
        <ion-col col-12>
          <p style="color:gray;font-size:13px;">{{s.vehicleName}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p ion-text text-wrap style="color:gray;font-size:12px;">{{s.timestamp | date:'full'}}</p>
        </ion-col>
      </ion-row>
    </ion-item>

  </ion-card>
</ion-content>